.content {
	background: url('../images/bluela.png') no-repeat;
	width: 60rem;
	height: 1280px;
}

.top-container {
	display: flex;
}

.bell {
	background: url('../images/Bell.png');
	width: 2rem;
	height: 2rem;
}

.group1 {
	width: 20.1rem;
    height: 15.7rem;
    position: relative;
    top: 5.38rem;
    left: 3.75rem;
}

.top-text1 {
	width: 19.5625rem;
    margin: 0;
    padding: 1rem 0;
	color: var(--Background---F2F2F2, #F2F2F2);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	/* Heading 4 */
	font-size: 1.9375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 2.325rem */
	-webkit-text-stroke: 1px black;
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	text-align: left;
	/* box-shadow: 0px 4px 4px 0px #00000040; */
}

.top-text2 {
	width: 20.125rem;
	color: var(--Background---F2F2F2, #F2F2F2);
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 1.2rem */
	/* margin-top: 5px;
	color: #F2F2F2; */
	text-align: left;
}

.group2 {
	width: 23.4rem;
	height: 19rem;
	flex-shrink: 0;
	position: relative;
	top: 2.75rem;
	left: 4rem;
	/* background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.92) 27.6%, #FFF 53.13%, rgba(255, 255, 255, 0.67) 81.77%, rgba(255, 255, 255, 0.00) 100%); */
	overflow: hidden;
} 

.middle-container {
	width: 42.375rem;
	height: 19.125rem;
	flex-shrink: 0;
	position: absolute;
	left: 3.75rem;
	top: 25.6rem;
	display: flex;
}

.cohorts {
	width: 20.9375rem;
	height: 19.125rem;
	flex-shrink: 0;
	background: no-repeat;
	border-radius: 0.75rem;
	/* border: 1.5px solid rgba(255, 255, 255, 0.68); */
	/* background: lightgray 50% / cover no-repeat; */

	/* Active Shadow */
	box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
}

.eye {
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
	position: absolute;
	top: 1.06rem;
	right: 3.87rem;
}

.m-text1 {
	width: 19.0625rem;
	height: 4.625rem;
	color: var(--Background---F2F2F2, #F2F2F2);
	text-align: right;

	/* Heading 4 */
	font-family: Inter;
	font-size: 1.9375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 2.325rem */

	position: absolute;
	top: 4.06rem;
	right: 3.88rem;
	margin: 0;
	word-wrap: break-word;
	text-align: right;
}

.m-text2 {
	width: 19.0625rem;
	height: 3.5625rem;
	color: var(--Background---F2F2F2, #F2F2F2);
	text-align: right;

	/* Body */
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 1.2rem */
	opacity: 0.7;

	position: absolute;
	top: 9.68rem;
	right: 3.87rem;
	margin: 0;
	word-wrap: break-word;
	text-align: right;
}